.container
  width: 100vw
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-between

.wrapper
  min-height: 90vh
  padding: 0 14px

.header_back_drop
  position: fixed
  height: 85px
  left: 0
  right: 0
  background: rgba(255, 255, 255, 0.9)